#id1 {
    background-color: lightgreen;
}
* {
    background-color: lightcyan;
}

div {
    background-color: lightseagreen;
}
.cl1 {
    background-color: lightcoral;
}

.cl1 {
    background-color: lightskyblue;
}